---
import Footer from "../components/Footer.astro";
import "../styles/global.css";

interface Props {
  title: string;
  description?: string;
}

const {
  title,
  description = "Don't Show - Hide what you don't want to show, on any website. Install the extension to get started, and create filters to hide anything you don't want to show.",
} = Astro.props;

const canonicalURL = new URL(Astro.url, Astro.site);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <link rel="canonical" href={canonicalURL} />
    <meta name="robots" content="index, follow" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <!-- <meta property="og:image" content="/og-image.jpg" /> -->

    <!-- Twitter -->
    <!-- <meta property="twitter:card" content="summary_large_image" /> -->
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <!-- <meta property="twitter:image" content="/og-image.jpg" /> -->

    <!-- Additional Meta Tags -->
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Don't Show" />
    <!-- <meta name="theme-color" content="#ffffff" /> -->
  </head>
  <body>
    <slot />
    <Footer />
  </body>
</html>
